.root {
  display: grid;
  width: 640px;
  height: 640px;
  border: 1px solid #adb5bd;
}

.gridLayer {
  display: grid;
  grid-column: 1;
  grid-row: 1;
}

.gridItem {
  background-color: transparent;
  user-select: none;
  color: transparent;
}

.pattern {
  background-color: #d4d4d4;
  opacity: 0.8;
}

.gridItem:hover {
  background-color: #d4d4d4;
  opacity: 0.4;
}

.canvas {
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
}
