.root {
  box-shadow: var(--boxShadow);
  background-color: var(--buttonColor);
  border-radius: var(--borderRadius);
  height: fit-content;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 18px;
  position: absolute;
  top: var(--size4);
  right: var(--size4);
}
