:root {
  /* Color */
  --outlineColor: #e9ecef;
  --buttonColor: #e5e5e5;

  /* Size */
  --size0: 2px;
  --size1: 4px;
  --size2: 8px;
  --size3: 16px;
  --size4: 20px;
  --size5: 24px;
  --size6: 28px;
  --size7: 32px;
  --size8: 36px;
  --size9: 40px;
  --size10: 44px;
  --size11: 48px;

  --sectionHeight: 48px;
  --gridsize: 50px;

  --textButtonHeight: 38px;

  /* Border Radius */
  --borderRadius: 28px;

  /* Shadow */
  --boxShadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
}

.main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
