.color {
  cursor: pointer;
  border: none;
  background: none;
  border: 1px solid var(--outlineColor);
}

.selected {
  box-sizing: border-box;
  border: 4px solid white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  align-items: flex-start;
  padding: var(--size2);
  font-weight: bold;
  cursor: pointer;
}

.wrapper:hover {
  background-color: #f0f0f0;
}

:global(.ant-collapse-header) {
  padding: var(--size2) var(--size3);
  border-bottom: 2px solid var(--outlineColor);
  background-color: white;
  align-items: center;
  font-weight: bold;
  position: sticky;
  display: flex;
  top: 0;
}
