.canvas {
  border: 1px solid black;
  background: white;

  grid-column: 1;
  grid-row: 1;
  z-index: -1;
}

.parentLayer {
  display: grid;
  width: 500px;
  height: 500px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);

  grid-column: 1;
  grid-row: 1;
}

.gridItem {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
/* 
.gridItem:hover {
  background-color: #d4d4d4;
}

.overrideHover:hover {
  opacity: 0;
} */
